<li>
	{{burger}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}COOK MORE!{{else}}BURGER TIME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">THROW OUT!</button>
</li>
